 *{
 }
 div {
    color: navy;
    font-stretch: expanded;
    background-color: palevioletred;
    border box-sizing: margin: line-height: ;;
    margin
 } 
 html,body{
   color: rgb(21, 83, 199);
   font-size: x-small;

 }






 }